<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" [opened]="false" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/proyectos" (click)="drawer.close()">
        <mat-icon matListItemIcon>folder_shared</mat-icon> Proyectos
      </a>
      <a mat-list-item routerLink="/clientes" (click)="drawer.close()">
        <mat-icon matListItemIcon>people</mat-icon> Clientes
      </a>
      
      <mat-divider></mat-divider>
      
      <button mat-list-item class="logout-btn" (click)="logout(); drawer.close()">
        <mat-icon matListItemIcon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Gestión de Proyectos</span>
    </mat-toolbar>

    <div class="content-padding">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>